<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>课程资源信息</title>
    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/skin/default_skin/css/theme.css">
    <script src="/js/jquery-2.2.4.js"></script>
</head>
<body>

<!-- begin: .tray-center -->
<div class="tray tray-center">
    <!-- Begin: Content Header -->
    <div class="content-header">
        <h2>添加选课</h2>
        <h3>第一项</h3>
    </div>
    <!-- message listing panel -->
    <form class="form-inline">
        <div style="margin-left: 30px;margin-bottom: 15px" class="form-group">
            <input type="text" id="courseName" placeholder="在此输入课程名" value="" class="form-control">
            <input type="text" id="teacher" placeholder="在此输入教师名" value="" class="form-control">
            <input type="button" id="search" value="搜索" class="btn btn-default">
        </div>
    </form>
    <div class="admin-form theme-primary mw1000 center-block" style="padding-bottom: 175px;" id="list">

        <script>
            function list(teacherName, courseName) {
                var name = document.getElementById("courseName").value;
                $.ajax({
                    type:"GET",
                    url:"/gradeAdmin/teach/teachCourseList",
                    data: {
                        "teacherName": teacherName,
                        "courseName": courseName
                    },
                    success: function(html){
                        $("#list").html(html);
                    },
                    error:function () {
                        $("#list").html("加载失败，请刷新重试！");
                    }
                });
            }

            /*$(document).ready(function(){
                list();
            });*/


            $("#search").click(function () {
                let teacherName = $("#teacher").val();
                let courseName = $('#courseName').val();
                // if (teacherName === "" && courseName === "") {
                //     alert("必须填写其中一项！");
                // } else {
                list(teacherName, courseName);
                // }
            });

        </script>
        <!-- end: .admin-form -->
    </div>

</div>
<!-- end: .tray-center -->
</body>
</html>