<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>课程资源信息</title>
    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/skin/default_skin/css/theme.css">
    <script src="/js/jquery-2.2.4.js"></script>
    <!-- Admin Forms CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/admin-tools/admin-forms/css/admin-forms.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
</head>
<body>
<div class="tray tray-center">

    <!-- Begin: Content Header -->
    <div class="content-header">
        <h2> 添加各级管理员</h2>
        <p class="lead"></p>
    </div>

    <!-- Validation Example -->
    <div class="admin-form theme-primary mw1000 center-block" style="padding-bottom: 175px;">

        <div class="panel heading-border">

            <form method="post" action="list.html" id="admin-form" class="form-horizontal" style="text-align:center;margin:0 auto">

                <div class="panel-body bg-light">

                    <div class="section-divider mt20 mb40">
                        <span> 基本信息 </span>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label" style="padding-left: 0px">姓名</label>
                        <div class="col-sm-10">
                            <input  class="form-control" id="name" placeholder="默认用户名和姓名相同，密码默认111111">
                        </div>
                    </div>
                    <!-- end section -->


                    <select class="form-control" id="college" style="width: 786px;margin-left: 161px">
                        <option value="0">所属院</option>
                        <option th:each ="list:${list}" th:value="${list.collegeId}" th:text="${list.collegeName}"></option>
                    </select>

                    <!-- end .form-body section -->
                    <div class="panel-footer text-right"  style="margin-top: 20px">
                        <input type="button" value="保存" class="btn btn-info" >  </input>
                    </div>
                    <script>
                        $("input:button").click(function(){
                            var name = document.getElementById("name").value;
                            var collegeId = $("#college").val();
                            if(name==""||collegeId==""){
                                alert("你还有尚未填写的项！");
                            }
                            else {
                                $.ajax({
                                    type: "POST",
                                    url: "/admin/gradeAdmin/doInsert",
                                    dataType: "json",
                                    data: {
                                        "name": name,
                                        "collegeId": collegeId,
                                    },
                                    success: function (sign) {
                                        if (sign == 1) {
                                            alert("添加成功！");
                                            window.location.href='/admin/gradeAdmin/gradeAdmin';
                                        } else if (sign == 0) {
                                            alert("添加失败，请重试！");
                                            location.reload(true);
                                        }
                                    },
                                    error: function () {
                                        alert("错误");
                                    }

                                })
                            }

                        });
                    </script>
                    <!-- end .form-footer section -->
                </div>
            </form>

        </div>

    </div>
    <!-- end: .admin-form -->

</div>
</body>