<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/assets/skin/default_skin/css/theme.css">
    <script src="/js/jquery-2.2.4.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/pageJS.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/page.css">
</head>
<body>
<div class="tray tray-center">
    <!-- Begin: Content Header -->
    <div class="content-header">
        <h2>学生查看</h2>
    </div>
    <!-- message listing panel -->
    <div class="admin-form theme-primary mw1000 center-block" style="padding-bottom: 175px;">

        <div class="panel  heading-border">

            <!-- message toolbar header -->
            <div class="panel-menu">
                <div class="row">

                    <div class="hidden-xs hidden-sm col-md-3">
                        <div class="btn-group" style="display: block">
                            <button type="button" class="btn btn-default light" id="refreshInfo">
                                <!--<i class="fa fa-refresh"></i>-->
                                刷新
                            </button>
                            <script>
                                $("#refreshInfo").click(function () {
                                    location.reload(true);
                                })
                            </script>
                            <a id="btn0"></a>
                        </div>
                        <div id="tableInfo"></div>
                    </div>

                </div>

            </div>
            <!-- message listings table -->
            <div class="panel-body pn">
                <div id="list">
                </div>
                <div style="text-align: center;margin:100px auto;">
                    <div id="pager" class="pager clearfix">
                    </div>
                </div>
            </div>

            <script src="/js/jquery.z-pager.js" type="text/javascript" charset="utf-8"></script>
            <script type="text/javascript">
                $("#pager").zPager({
                    totalData: 50,
                    htmlBox: $('#wraper'),
                    btnShow: true,
                    ajaxSetData: false,
                    dataRender: function(data) {
                        console.log(data + '---data-2');
                        alert(data);
                    },
                });
            </script>
            <script>
                function list(currentPage) {
                    $.ajax({
                        type: "POST",
                        url: "/gradeAdmin/class/showStudentList",
                        data:
                            {
                                "pageNum": currentPage,
                            },
                        success: function (html) {

                            $("#list").html(html);
                            $("a.pg-next").on("click", function () {
                                console.log("next");
                                currentPage++;
                                list(currentPage);
                            });

                            $("a.pg-prev").on("click", function () {
                                console.log("pre");
                                currentPage--;
                                //var current = parseInt(currentPage);
                                if (currentPage < 1) {
                                    alert("已经是第一页！");
                                    currentPage = 1;
                                }
                                list(currentPage);
                            })
                        },
                        error: function () {
                            $("#list").html("加载失败，请刷新重试！");
                        }
                    });
                }
                $(document).ready(function(){
                    list(1);
                });

                paging();
            </script>

        </div>
        <!-- end: .admin-form -->
    </div>

</div>
<br/>

</div>
</body>
</html>