<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" href="/css/page.css">
<script src="/js/jquery.min.js"></script>
<table id="courseInfoTable" class="table admin-form theme-warning tc-checkbox-1">
    <thead>
    <tr>
        <th class="hidden-xs" style="text-align: center">题目</th>
        <th class="hidden-xs" style="text-align: center">参考答案</th>
        <th class="hidden-xs" style="text-align: center">引用次数</th>
        <th class="hidden-xs" style="text-align: center">操作</th>
    </tr>
    </thead>
    <tbody class="course_info_ajax">
    <tr class="message-unread" th:each="question:${question.list}">
        <td  th:text="${question.homeworkQuestionDetail}" style="text-align: center"></td>
        <td  th:text="${question.homeworkQuestionAnswer}" style="text-align: center"></td>
        <td  th:text="${question.homeworkQuestionNum}" style="text-align: center"></td>
        <td  style="cursor:pointer;text-align: center;color:dodgerblue;text-decoration: underline">
            <a th:href="@{'/teacher/homework/edit/?questionId='+${question.homeworkQuestionId}}" th:text="编辑"></a>
            <!--<a  th:text="删除" class="delete" th:name="${question.homeworkQuestionId}" ></a>-->
        </td>

    </tr>

    </tbody>
</table>

</html>

