<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>课程资源信息</title>
    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/skin/default_skin/css/theme.css">
    <script src="/js/jquery-2.2.4.js"></script>
    <!-- Admin Forms CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/admin-tools/admin-forms/css/admin-forms.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
</head>
<body>
<div class="tray tray-center">

    <!-- Begin: Content Header -->
    <div class="content-header">
        <h2> 添加题库</h2>
        <p class="lead"></p>
    </div>

    <!-- Validation Example -->
    <div class="admin-form theme-primary mw1000 center-block" style="padding-bottom: 175px;">

        <div class="panel heading-border">

            <form method="post" action="list.html" id="admin-form">

                <div class="panel-body bg-light">

                    <div class="section-divider mt20 mb40">
                        <span> 基本信息 </span>
                    </div>
                    <!-- .section-divider -->


                    <div class="section">
                        <label  class="field prepend-icon">
                            <textarea class="gui-textarea" id="detail" name="comment" placeholder="题目"></textarea>
                            <label  class="field-icon">
                                <i class="fa fa-comments">
                                </i>
                            </label>
                        </label>

                    </div>
                    <!-- end section -->
                    <div class="section">
                        <label  class="field prepend-icon">
                            <textarea class="gui-textarea" id="answer" name="comment" placeholder="参考答案"></textarea>
                            <label  class="field-icon">
                                <i class="fa fa-comments">
                                </i>
                            </label>
                        </label>

                    </div>

                    <!-- end .form-body section -->
                    <div class="panel-footer text-right">
                        <input type="button" value="保存" class="btn btn-info" >  </input>
                    </div>
                    <script>
                        $("input:button").click(function(){
                            var detail = document.getElementById("detail").value;
                            var answer = document.getElementById("answer").value;

                            $.ajax({
                                type: "POST",
                                url: "/teacher/homework/doInsert",
                                dataType: "json",
                                data: {
                                    "detail": detail,
                                    "answer": answer,
                                },
                                success: function (sign) {
                                    if(sign==1){
                                        alert("添加成功！");
                                        location.reload(true);
                                    }
                                    else if(sign==0){

                                        alert("添加失败，请重试！");
                                    }
                                },
                                error:function () {
                                    alert("错误");
                                }

                            })

                        });
                    </script>
                    <!-- end .form-footer section -->
                </div>
            </form>

        </div>

    </div>
    <!-- end: .admin-form -->

</div>
</body>