<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>课程资源信息</title>
    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/skin/default_skin/css/theme.css">
    <script src="/js/jquery-2.2.4.js"></script>
    <!-- Admin Forms CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/admin-tools/admin-forms/css/admin-forms.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
</head>
<body>
<div class="tray tray-center">

    <!-- Begin: Content Header -->
    <div class="content-header">
        <h2> 编辑系信息</h2>
        <p class="lead"></p>
    </div>

    <!-- Validation Example -->
    <div class="admin-form theme-primary mw1000 center-block" style="padding-bottom: 175px;">

        <div class="panel heading-border">

            <form method="post" action="list.html" id="admin-form">

                <div class="panel-body bg-light">

                    <div class="section-divider mt20 mb40">
                        <span> 基本信息 </span>
                    </div>
                    <!-- .section-divider -->


                    <script th:inline="javascript">
                        $(document).ready(function (){
                            document.getElementById("detail").value=[[${faculty.facultyName}]];
                        });

                    </script>

                    <div class="section">
                        <label  class="field prepend-icon">
                            <textarea class="gui-textarea" id="detail"></textarea>
                            <label  class="field-icon">
                                <i class="fa fa-comments">
                                </i>
                            </label>
                        </label>
                    </div>


                    <!-- end section -->

                    <!-- end .form-body section -->
                    <div class="panel-footer text-right">
                        <input type="button" value="保存" class="btn btn-info" onclick="choose()">  </input>
                    </div>
                    <script th:inline="javascript">
                        function choose(){
                            var facultyName = document.getElementById("detail").value;
                            var facultyId = [[${faculty.facultyId}]];
                            $.ajax({
                                type: "GET",
                                url: "/gradeAdmin/faculty/doEdit",
                                dataType: "json",
                                data: {
                                    "name": facultyName,
                                    "id":facultyId
                                },
                                success: function (sign) {
                                    if (sign == 1) {
                                        alert("修改成功！");
                                        window.location.href='/gradeAdmin/faculty/show';
                                    } else if (sign == 0) {
                                        alert("修改失败，请重试！");
                                        location.reload(true);
                                    }
                                },
                                error: function () {
                                    alert("错误");
                                }

                            })
                        }
                    </script>
                    <!-- end .form-footer section -->
                </div>
            </form>

        </div>

    </div>
    <!-- end: .admin-form -->

</div>
</body>